# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
venv/
env/

# Scrapy
.scrapy/
crawls/

# Flask
instance/
*.pyc
*.pyo
*.env

# IDE and Editor Files
.idea/


# Logs and Output Files
logs/
output/



# Environment Variables
.env

# Miscellaneous
.DS_Store
*.log
